.gif-info {
	max-width: 700px;
	margin: 20px auto 0;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
}


.gif-info h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gif-info .image {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

